body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 114, 5);
  }
  
  h2 {
    font-size: 4em;
    text-align: center;
  }
  .box1 {
    font-size: 2em;
    text-align: center;
    display: none;
  }
  .box2 {
    font-size: 2em;
    text-align: center;
    display: none;
  }
  .box3{
    font-size: 2em;
    text-align: center;
    display: none;
  }
  .box4 {
    font-size: 2em;
    text-align: center;
    display: none;
  }  
  @media screen and (max-width: 1440px) {
      body {
          background-color: rgb(20, 3, 253);
      }
      .box1 {
          display: block;
      }
  }
  @media screen and (max-width: 1024px) {
      body {
          background-color: rgb(229, 17, 248);
      }
      .box1 {
          display: none;
      }
      .box2 {
          display: block;
      }
  }
  @media screen and (max-width: 768px) {
      body {
          background-color: rgb(22, 236, 252);
      }
      .box1 {
          display: none;
      }
      .box2 {
          display: none;
      }
      .box3 {
          display: block;
      }
  }
  @media screen and (max-width: 425px) {
      body {
          background-color: rgb(245, 9, 205);
      }
      .box1 {
          display: none;
      }
      .box2 {
          display: none;
      }
      .box3 {
          display: none;
      }
      .box4 {
          display: block;
      }
  }